<%- include("partials/header") %>

<h1><%= postTitle %></h1>
<p><%= postData %></p>

<a href='../delete/<%= ID %>' class="addButton" style="color: black;"><button class="btn btn-primary btn-xl">Delete</button></a>

<%- include("partials/footer") %>